/* font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif; */
body{
    font-size: 16px;
}
body p {
    line-height: 1.3;
    font-size: 1rem;
}
body h1, h2, h3 {
    font-size: 2rem;
    margin: 1rem;
}
/* GENERAL */
.content {
    font-family: 'Lato', sans-serif;
}
.bkg-grey{
    color: white;
    background-color: #4F5356;
    background-repeat: round;
}
.bkg-sea{
    color: black;
}
.content{
    display: flex;
    flex-direction: column;
}
section{
    margin: 2em;
}
/* .unskew {
    transform: skewY(2deg);
}
section:nth-child(even){
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: skewY(-2deg);
    transform-origin: 0;
    background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
    z-index: 0;
} */
a.primary-button{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: white;
    text-decoration: none;
    /* background-color: darkcyan; */
    background: #E56791;
    border-radius: 3px;
    padding: .3em 1em;
    margin: 1em;
    -webkit-transition: background .1s; /* Safari */
    -moz-transition: background .1s; /* Mozilla */
    transition: background .1s;
    height: 30px;
    line-height: 30px;
}
a.primary-button:hover{
    /* background: #76969E; */
    background: #EE7EA5;
    text-decoration: underline;
}


/* HERO */
.hero{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    line-height: 1.4;
    background-image: url("../../assets/bkg/cuan.jpg");
    background-repeat: round;
}
.hero .fadeIn {
    display: flex;
    height: 100vh;
    width: 100%;
    animation: fade_from_black_to_image 1s cubic-bezier(.47,0,.74,.71);    justify-content: center;
    align-self: center;
    flex-direction: column;
}
.hero .accroche h1 {
    font-weight: 600;
}
.hero .accroche p {
    font-weight: 300;
    font-style: italic;
}
.hero .accroche a {
    font-weight: 300;
    color: white;
    text-decoration: none;
}
.hero .accroche a:hover{
    text-decoration: underline;
}
.hero .accroche{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* DEVIS*/
.devis{
    display: flex;
    background-color: #2D2841;
    width: 100%;
    min-height: 400px;
    color: white;
}

.devis .accroche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}


/* ONE */
#one{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
#one .subtitle{
    margin: 2em 0;
    font-size: 2em;
    text-align: center;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
}

#one .responsive-image {
    max-width: 100%;
}
#one .cell {
    -webkit-transition: opacity .3s; /* Safari */
    -moz-transition: opacity .3s; /* Mozilla */
    transition: opacity .3s;
    transition-timing-function: ease-in-out;
}
#one .cell:hover {
    opacity: 0.9;
}
#one .cell img {
    display: block;
}



/* SERVICES */
#services {
    display: flex;
    color: white;
    background-color: #2D2841;
    font-size: 1rem;
    min-height: 300px;
    text-align: center;
}
/* Vertical Center*/
#services .centering{
    display: flex;
    flex-direction: column;
    align-self: center;
}
#services .allServices{
    display: flex;
    margin: 0 auto;
    width: 80%;
}
#services .service {
    display: flex;
    flex-direction: column;
}
#services .service span{
    color: #E56791;
    font-weight: 600;
    font-style: italic;
}
#services div span {
    font-size: 1.3rem;
    margin: 0 1rem 1rem 1rem;
}

/* THREE */
#three {
    background: blueviolet;
}


/* CONTACT */
.contact {
    display: flex;
    background: #2A363B;
    color: white;
    text-align: center;
    height: 300px;
}
.contact .accroche {
    display: flex;
    flex-direction: column;
    align-self: center;
}

@media screen and (min-width: 600px) {
    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .cell {
      width: 50%;
    }
  }
@media screen and (max-width: 360px) {
    #services .allServices{
        flex-wrap: wrap;
    }
    #services .service {
        margin: 1rem;
    }
}
@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 3);
  }
}


@keyframes fade_from_black_to_image {
    0% {
        background-color: rgba(45, 40, 65, .5);
    }
    100% {
        background-color: rgba(45, 40, 65, 0);
        }
    }
